<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 class="header-heading">
        <a href="{{ site.github.url }}/"> {{ site.title }} </a>
      </h1>
      <div class="header-description">{{ site.description }}</div>
      <div>Listen</div>
      <div>
        <ul>
          <li>
            <a
              href="https://open.spotify.com/show/6Vcs6a4FITzWZBnvdLOByQ"
              target="_blank"
              >Spotify</a
            >
          </li>
          <li>
            <a
              href="https://podcasts.apple.com/us/podcast/yancan-fm/id1440314432?uo=4"
              target="_blank"
              >Apple Podcasts</a
            >
          </li>
          <li>
            <a href="https://anchor.fm/s/ca24318/podcast/rss" target="_blank"
              >RSS</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
