<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 class="header-heading">
        <a href="{{ site.github.url }}/"> {{ site.title }} </a>
      </h1>
      <div class="header-description">{{ site.description }}</div>
      <div>
        <ul class="icons">
          <li>
            <a
              href="https://open.spotify.com/show/6Vcs6a4FITzWZBnvdLOByQ"
              target="_blank"
              ><img src="{{ site.icons.spotify }}" alt="" class="icon_image"
            /></a>
          </li>
          <li>
            <a
              href="https://podcasts.apple.com/us/podcast/yancan-fm/id1440314432?uo=4"
              target="_blank"
              ><img src="{{ site.icons.apple }}" alt="" class="icon_image"
            /></a>
          </li>
          <li>
            <a href="https://anchor.fm/s/ca24318/podcast/rss" target="_blank"
              ><img src="{{ site.icons.rss }}" alt="" class="icon_image"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
